<form name="income_input_form" method="post" action="" data-url="/income_input/new" class="js-form form-horizontal">

    <div style="display:none">
        <input type="text" id="income_input_form_worker" name="worker" value="{{ worker.id }}" class="form-control">
    </div>

    <input type="text" id="income_input_form_date" name="date" required="required" class="form-control">

    <input type="text" id="income_input_form_value" name="value" required="required" class="form-control">

</form>