<form name="cash_register_form" method="post" action="/cash/{{ app.request.get('date')|date("Y-m-d") }}/new" class="js-form form-horizontal js-new-form" data-url="{{ path('cr_new', { 'date': app.request.get('date')|date("Y-m-d") }) }}">
    <input id="cash_register_form_name" name="name" class="submitreplacement name form-control" type="text">
    <input id="cash_register_form_value" name="value" class="js-format submitreplacement value form-control" type="text">
    <div style="display:none">
        <div class="form-group ">
           <label class="col-sm-2 control-label required" for="cash_register_form_date">Date</label>
           <div class="col-sm-8">
               <input type="date" id="cash_register_form_date" name="date" required="required" class="form-control" value="{{ app.request.get('date')|date("Y-m-d") }}">
           </div>
        </div>
    </div>
</form>